extends layout

block content

  if(logined)
    h1= title
    .list
      .item.add-task
        div.action
          form#allDoneForm(action='/tasks', method='post')
            input(type='hidden', value='true', name='all_done')
            input(type='hidden', value=locals._csrf, name='_csrf')
            input(type='submit', class='btn btn-success btn-xs', value='all done')
        form#addTaskForm(action="/tasks", method='post')
          input(type='hidden', value=locals._csrf, name='_csrf')
          div.name
            input(type="text", name="name", placeholder='새로운 태스크 추가')
          div.delete
            input.btn.btn-primary.btn-sm(type="submit", value='add')
      ul.list-group

  .modal.fade(id='myModal', role='dialog')
    .modal-dialog
      .modal-content
        .modal-header
          button.close(type='button', data-dismiss='modal')
            span(aria-hidden='true') &times;
            span.sr-only Close
          h4.modal-title
        .modal-body
          p This is body
        .modal-footer
          button.btn.btn-default(type='button', data-dismiss='modal') Close
          button.btn.btn-primary(type='button') Save changes