doctype html
html
  head
    title= title + ' | ' + appname
    link(rel="stylesheet", href="/stylesheets/style.css")
    link(rel="stylesheet", href="/bootstrap/bootstrap.css")
    link(rel="stylesheet", href="/stylesheets/main.css")

  body
    .container
      .navbar.navbar-default
        .container
        .navbar-header.pull-right
          form#loginForm(class="form-inline", action="/login", method='post')
            div.form-group
              input(type='hidden', value=locals._csrf, name='_csrf')
              input(type='text', name='nickname', placeholder='닉네임')
              button(type='submit', class='btn btn-default') 로그인
      block content
  script(src='https://cdn.socket.io/socket.io-1.1.0.js', type="text/javascript")
  script(src='/javascripts/jquery.js', type="text/javascript")
  script(src='/javascripts/bootstrap.js', type="text/javascript")
  script(src='/javascripts/main.js', type="text/javascript")